 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-css3-plain-wordmark"></i>
      <i class="devicon-sass-original"></i>
      <p>I learned multiple ways of webdesigning at technical college.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain"></i>
      <i class="devicon-java-plain-wordmark"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <i class="devicon-php-plain"></i>
      <i class="devicon-python-plain-wordmark"></i>

      <p>I can code in the most JavaScript librarys, aswell as C based languages. I even learned to write assembler codes.</p>
    </div>
    <div class="tech">
      <h2>Tools/Programs</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i class="devicon-gulp-plain"></i>
      <i class="devicon-apache-plain-wordmark"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>These are only the basics i use for my projects.</p>
    </div>
</div>
