<div id="particles-js">
  <div class="header">
	
      <h1>
        <span class="site-title">{{site.username}}</span>
        <span class="site-description">{{site.user_title}}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:contact@kbenz.net"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/insok"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Xing" target="_blank" href="https://xing.com"><i class="icon fa fa-xing"></i></a>       
      </div>
	<br>
	<div class="menubar">
		<ul style="list-style: none;">
			<li><a class="link" href="#about" data-scroll>About Me</a></li>
			<li><a class="link" href="#projects" data-scroll>Projects</a></li>
                        <li><a class="link" href="#contact" data-scroll>Contact</a></li>
	</div>

  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
